.html-editor {
  /*display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;*/
}

.no-toolbar .ql-toolbar {
  padding: 0 !important;
  border: none !important;
  box-sizing: initial !important;
  height: 0 !important;
}

.ql-editor p {
  text-align: justify;
}

.no-toolbar .ql-container {
  padding: 0 !important;
  border: none !important;
}

.no-toolbar .ql-container .ql-editor {
  padding: 0 !important;
}

.ql-editor {
  height: auto !important;
}

.ql-container,
.ql-toolbar {
  border: 1px solid #4d5053 !important;
}

.ql-stroke {
  stroke: #42a5f5 !important;
}
.ql-picker {
  color: #42a5f5 !important;
}

.ql-toolbar {
  border-radius: 10px 10px 0 0 !important;
}

.ql-container {
  border-radius: 0 0 10px 10px !important;
}

.html-editor .column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
