.big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.backdrop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 1;
}

.backdrop div {
  margin: auto;
}

/*loading*/

#contenedor_carga {
  background-color: #1e1d1e;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

.progress_bar {
  width: 225px;
  height: 2px;
  position: absolute;
  border-radius: 100%;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.34);
}

.bar_h {
  width: 225px;
  height: 100%;
  margin-left: 0;
  top: 110px;
  background-color: #2196f3;

  animation-name: spinner;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  0% {
    width: 0;
  }
  50% {
    width: 20px;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}

#carga {
  border: 15px solid #a0a0a0;
  border-top-color: #2196f3;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
