.car-item-arrows__container{
    height: auto;
    width: 100%;
    display: flex;
   /*  justify-content: center; */
}


.car-item-arrows__left{
/*    width: 33vw;    */
flex:  0.35 1; 
display: flex;
align-items: center;
padding: 0 0 0 50px;
   
}

.car-item-arrows__left-text-container{
/* width: 80%; */
padding: 0 40px;
}


.car-item-arrows__right{
   /*  width: 67vw; */
    height: 520px;
    flex:  0.65 1; 
}

.car-item-arrows__right img{
    height: 100%;
    width: 48vw;
}