.carousel-item-dots__container {
  display: flex;
  flex-direction: row;
  height: 520px;
  align-items: center;
}

.carousel-item-dots__left {
  flex: 0.3 1;
  padding: 0 1rem 0 6rem;
}
.carousel-item-dots__left p {
  font-weight: bold;
}

.carousel-item-dots__center {
  flex: 0.4 1;
  position: relative;
}

.carousel-item-dots__center-img-container {
  width: 300px;
  height: 300px;
  position: absolute;
  right: -20px;
  top: -140px;
}
.carousel-item-dots__right {
  flex: 0.25 1;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 50px;
}

.carousel-item-dots__right p {
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 1076px) {
  .carousel-item-dots__left {
    flex: 0.3 1;
    padding: 0 3rem 0 2rem;
  }
  .carousel-item-dots__center {
    flex: 0.4 1;
  }
  .carousel-item-dots__center-img-container {
    width: 280px;
    height: 280px;
    position: absolute;
  }
  .carousel-item-dots__right {
    flex: 0.3 1;
  }
}

@media (max-width: 950px) {
  .carousel-item-dots__left {
    flex: 0.3 1;
    padding: 0 3rem 0 1rem;
  }
  .carousel-item-dots__center-img-container {
    width: 250px;
    height: 250px;
    position: absolute;
  }
}

@media (max-width: 700px) {
  .carousel-item-dots__left {
    display: none;
  }

  .carousel-item-dots__center {
    flex: 0.6 1;
  }
  .carousel-item-dots__right {
    flex: 0.4 1;
  }
}

@media (max-width: 600px) {
  .carousel-item-dots__center-img-container {
    width: 220px;
    height: 220px;
    position: relative;
    right: -6px;
    top: -8px;
  }

  .carousel-item-dots__center {
    flex: 0.3 1;
    
  }

  .carousel-item-dots__right {
    flex: 0.7 1;
    padding: 0 20px;
  }
}

@media (max-width: 450px) {

  .carousel-item-dots__center {
    flex: 0.2 1;
   
  }

  .carousel-item-dots__center-img-container {
    width: 220px;
    height: 220px;
    position: relative;
    display: none;
  }
  .carousel-item-dots__right {
    flex: 0.8 1;
    padding: 0 40px;
  }

  .carousel-item-dots__right p{
    margin-bottom: 5px;
  }
}