.car-item-arrows__container {
  height: auto;
  width: 100%;
  display: flex;
  /*  justify-content: center; */
}

.car-item-arrows__left {
  /*    width: 33vw;    */
  flex: 0.35 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 50px;
}

.car-item-arrows__left-text-container {
  /* width: 80%; */
  padding: 0 40px;
}

.car-item-arrows__right {
  /*  width: 67vw; */
  height: 520px;
  flex: 0.65 1;
}

.car-item-arrows__right-img-container {
  height: 520px;
  max-width: 48vw;
}

@media (max-width: 900px) {
  .car-item-arrows__container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .car-item-arrows__left {
    position: absolute;
    z-index: 99;
  }
  .car-item-arrows__right {
    height: 520px;
    flex: 0.95;
    display: flex;
    justify-content: center;
  }

  .car-item-arrows__left-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 512px;
    justify-content: center;
    max-width: 60%;
  }

  .car-item-arrows__right-img-container {
    height: 520px;
    max-width: 90vw;
  }
}

@media (max-width: 900px){

  .car-item-arrows__left-text-container {
    max-width: 80%;
    padding: 0 10px;
  }

}


